<% include ../partials/header %>

	<div class="card">
		<div class="card-header">
			<h2 class="text-center"><%= title %></h2>
		</div>
		<div class="card-body">
			
			<form <% if (typeof department == 'undefined') { %> action="/departments" <% } else { %> action="/departments/<%= department.id %>?_method=PUT" <% } %> method="POST">
				
				<label for="name">Name</label>
				<input type="text" id="name" <% if(typeof department != 'undefined') { %> value="<%= department.name %>" <% } %> name="name" class="form-control">

				<br>

				<div class="text-center">
					<input type="submit" value="Save" class="btn btn-success">
				</div>

			</form>

		</div>
	</div>
	
<% include ../partials/footer %>