<% include ../partials/header %>
		
	<div class="col-md-8 offset-md-2">
	 	<div class="card">
	 		<div class="card-header">
	 			<h2 class="text-center"><%= title %></h2>
	 		</div>
	 		<div class="card-body">

	 			<% if (typeof errors !== 'undefined') { %>
	
					<% errors.forEach((error) => { %>

						<div class="alert alert-danger"><%= error.msg %></div>

					<% }) %>

				<% } %>

	 			<form method="POST" action="/register">
	 				
	 				<div class="row">
	 					<label for="name" class="col-form-label col-md-3 text-md-right">Name: </label>
	 					<input type="text" name="name" class="form-control col-md-8">
	 				</div>

	 				<div class="row">
	 					<label for="username" class="col-form-label col-md-3 text-md-right">Username: </label>
	 					<input type="text" name="username" class="form-control col-md-8">
	 				</div>

	 				<div class="row">
	 					<label for="email" class="col-form-label col-md-3 text-md-right">Email: </label>
	 					<input type="email" name="email" class="form-control col-md-8">
	 				</div>

	 				<div class="row">
	 					<label for="password" class="col-form-label col-md-3 text-md-right">Password: </label>
	 					<input type="password" name="password" class="form-control col-md-8">
	 				</div>

	 				<div class="row">
	 					<label for="password2" class="col-form-label col-md-3 text-md-right">Confirm Password: </label>
	 					<input type="password" name="password2" class="form-control col-md-8">
	 				</div>

	 				<br>

	 				<div class="text-center">
	 					<input type="submit" value="Register" class="btn btn-primary col-md-2">
	 				</div>

	 			</form>
	 		</div>
	 	</div>
	</div>

<% include ../partials/footer %>